:root {
  --main_color: #7f56d9;
  --text_color: #667085;
  --title-text-color: #101828;
  --btn_dark_color: #344054;
  --btn_white_color: #fff;
  --tag_color_one: #667085;
  --tag_color_two: #6941c6;
}

::selection {
  background-color: var(--main_color);
  color: var(--btn_white_color);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

.container {
  max-width: 1216px;
  margin: auto;
}

.container_logo {
  max-width: 935px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* header area start */

.header_area {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f9fafb;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.nav_bar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  line-height: 48px;
}

.logo {
  display: flex;
  gap: 10px;
  margin-right: 22px;
}

.nav_bar_links {
  display: flex;
  padding: 0;
}

.nav_bar_links a {
  line-height: 24px;
}

/* .nav_bar_links {
} */

/* .nav_bar_links li {
  margin-right: 32px;
}

.nav_bar_links li:last-child {
  margin-right: 0;
} */

.nav_bar_links li a {
  padding: 10px 16px;
  font-weight: 600;
  color: var(--text_color);
}

.nav_bar_links li a:hover {
  color: var(--btn_white_color);
  background-color: var(--main_color);
  border-radius: 8px;
  transition: all 0.6s;
}

.nav_bar_links_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
}

.sign_btn {
  padding: 10px 18px;
  background-color: var(--main_color);
  color: var(--btn_white_color);
  border-radius: 5px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--main_color);
}

.sign_btn:hover {
  background-color: var(--btn_white_color);
  color: var(--main_color);
  transition: all 0.6s;
}

.log_btn {
  padding: 10px 18px;
  color: var(--text_color);
  font-weight: 600;
  font-size: 16px;
  outline: none;
}
.log_btn:hover {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  border-radius: 5px;
  transition: all 0.6s;
}

.toggle_btn i {
  font-size: 32px;
  line-height: 50px;
  cursor: pointer;
  color: var(--text_color);
  display: none;
  outline: none;
  /* padding-right: 30px; */
}

.dropdown_product {
  display: none;
  position: fixed;
  right: 0;
  top: 80px;
  background: #ffffff;
  width: 100%;
  text-align: center;
  padding: 20px;
  left: -120%;
  height: 303px;
  transition: all 0.6s;
}

.dropdown_product li {
  border-bottom: 1px solid #dddddd;
  padding: 20px 0;
}

.dropdown_product a {
  font-size: 20px;
}

.dropdown_product.open {
  left: 0;
  /* height: 400px; */
}

.dropdown_product a {
  color: var(--text_color);
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
}

.dropdown_product a:hover {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  transition: all 0.6s;
}

/* header area end */

/* hero area start */

.hero_content {
  margin-top: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_content h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: var(--title-text-color);
  margin-bottom: 24px;
  margin-top: 0;
}

.hero_content p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text_color);
  text-align: center;
  margin: 0;
}

.hero_btn {
  text-align: center;
  margin-top: 48px;
}

.hero_btn li {
  display: inline-block;
}

.hero_btn .hero_btn_sign {
  padding: 16px 28px;
  background-color: var(--main_color);
  color: var(--btn_white_color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid var(--main_color);
  margin-left: 12px;
}

.hero_btn .hero_btn_demo {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--btn_dark_color);
  background-color: #ffffff;
  border: 1px solid lightgray;
  padding: 16px 28px 16px 35px;
  border-radius: 8px;
}

.hero_btn .hero_btn_demo .fa-circle-play {
  margin-right: 14px;
  font-size: 18px;
}

.hero_btn_sign:hover {
  background-color: var(--btn_white_color);
  color: var(--main_color);
  transition: all 0.6s;
}

.hero_btn_demo:hover {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  transition: all 0.6s;
}

.macbook {
  margin-top: 64px;
  text-align: center;
}

.hero_area_tag {
  text-align: center;
  margin-top: 98px;
}

.hero_area_tag p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--tag_color_one);
}

.hero_company_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 92px;
  margin-top: 32px;
  margin-bottom: 96px;
}

/* hero area end */

/* feature area start */

.feature_area {
  background-color: #fff;
  padding-top: 96px;
}

.feature_tag {
  text-align: center;
}

.feature_tag p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--tag_color_two);
  margin: 0;
  margin-bottom: 12px;
}

.feature_title h1 {
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.feature_content {
  text-align: center;
}

.feature_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text_color);
  margin: 0;
}

/* inboxes */

.inboxes {
  /* background-color: red; */
  margin-left: 112px;
  margin-top: 96px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 220px; */
  display: flex;
  justify-content: space-between;
}

.inbox_content {
  margin-top: 60px;
}

.inbox_content img {
  margin-bottom: 24px;
}

.inbox_content h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--title-text-color);
  padding-bottom: 16px;
}

.inbox_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text_color);
  margin-bottom: 32px;
}

.inbox_content h1,
p {
  margin: 0;
}

.in_list {
  margin-bottom: 20px;
}

.in_list img {
  margin: 0;
}

.in_list span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text_color);
}

.in_list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.in_list p {
  margin: 0;
}

.inbox_pic img {
  box-shadow: 0 5px 4px lightgray;
}

/* deliver */

.deliver {
  margin-top: 96px;
  margin-right: 112px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 220px;
  /* display: flex;
  width: 100%;
  justify-content: space-between; */
}

.deliver_pic img {
  box-shadow: 0 5px 4px lightgray;
}

.deliver_content {
  margin-top: 60px;
}

.deliver_content h1,
p {
  margin: 0;
}

.deliver_content img {
  margin-bottom: 24px;
}

.deliver_content h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--title-text-color);
  padding-bottom: 16px;
}

.deliver_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text_color);
  margin-bottom: 32px;
}

.in_list img {
  margin: 0;
}

/* manage */

.manage {
  margin-left: 112px;
  margin-top: 96px;
  padding-bottom: 96px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 220px; */
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

.manage_content {
  margin-top: 60px;
}

.manage_content h1 {
  margin: 0;
}

.manage_pic img {
  box-shadow: 0 5px 4px lightgray;
}

.manage_content img {
  margin-bottom: 24px;
}

.manage_content h1 {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: var(--title-text-color);
  padding-bottom: 16px;
}

.manage_content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text_color);
  margin-bottom: 32px;
}

.in_list img {
  margin: 0;
}

/* feature area end */

/* integrations  start */

.integration {
  margin-top: 96px;
}

.integration_tag {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--tag_color_two);
  margin-bottom: 12px;
}

.integration_title {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--title-text-color);
}

.integration_title h1 {
  margin: 0;
}

.integration_content {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text_color);
  margin-top: 20px;
}

.integration_icons {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 42px;
}

.integration_btn {
  text-align: center;
  margin-top: 64px;
  margin-bottom: 96px;
}

.integration_btn a {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  padding: 12px 20px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid var(--main_color);
}

.integration_btn a:hover {
  background-color: var(--btn_white_color);
  color: var(--main_color);
  transition: all 0.6s;
}

/* integrations  start */

/* show data area start */

.show_data {
  background-color: var(--btn_white_color);
}

.data_tag {
  padding-top: 96px;
  text-align: center;
  margin-bottom: 24px;
}

.show_data_title {
  text-align: center;
}

.show_data_title h1 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--title-text-color);
}

.show_data_content {
  margin-top: 20px;
  text-align: center;
}

.show_data_content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text_color);
}

.show_data_num {
  text-align: center;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}

.show_data_num1 h1 {
  margin: 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  color: var(--main_color);
}

.show_data_num1 p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-text-color);
}

.container_box {
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5ff;
  border-radius: 16px;
  padding: 64px 64px;
}

.show_data_content_title h1 {
  margin: 0;
  color: #42307d;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.show_data_content_moto p {
  color: #6941c6;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: 16px;
}

.show_data_btn li {
  display: inline-block;
}

.show_data_btn .learn {
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
  border: 1px solid lightgray;
}

.show_data_btn .learn:hover {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  transition: all 0.6s;
}

.show_data_btn .get {
  padding: 12px 20px;
  background-color: var(--main_color);
  color: var(--btn_white_color);
  border-radius: 8px;
  border: 1px solid var(--main_color);
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.show_data_btn .get:hover {
  background-color: var(--btn_white_color);
  color: var(--main_color);
  transition: all 0.6s;
}

.padding {
  padding-bottom: 96px;
}

/* show data area end */

/* review started */

.review_title {
  margin-top: 96px;
  text-align: center;
}

.review_title h1 {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: var(--title-text-color);
}

.review_provide {
  text-align: center;
  margin-top: 32px;
}

.review_provide img {
  margin-bottom: 16px;
}

.review_provide_name {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.review_provide_position {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
}

.review_logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 64px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 96px;
}

/* review end */

/* untitled started */

.untitled_area {
  background-color: var(--btn_white_color);
}

.untitled_details {
  margin-left: 112px;
  padding-top: 96px;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 182px; */

  display: flex;
  justify-content: space-between;
}

.untitled .inbox_lists {
  margin-bottom: 40px;
}

.untitled_btn {
  padding-top: 40px;
  /* margin-top: 40px; */
}

.untitled_btn li {
  display: inline-block;
}

.untitled_btn .learn {
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
  border: 1px solid lightgray;
}

.untitled_btn .learn:hover {
  background-color: var(--main_color);
  color: var(--btn_white_color);
  transition: all 0.6s;
}

.untitled_btn .get {
  padding: 12px 20px;
  background-color: var(--main_color);
  color: var(--btn_white_color);
  border-radius: 8px;
  border: 1px solid var(--main_color);
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.untitled_btn .get:hover {
  background-color: var(--btn_white_color);
  color: var(--main_color);
  transition: all 0.6s;
}

.untitled_content h1 {
  margin: 0;
  margin-top: 70px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: var(--title-text-color);
}

.un_list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.un_list img {
  margin-right: 12px;
  padding: 0;
}

.un_list span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--text_color);
}

.untitled_lists {
  margin: 0;
}

/* untitled end */

/* footer start */

.footer_container {
  max-width: 1216px;
  margin: auto;
}

.footer_upper {
  background-color: var(--btn_white_color);
}

.footer_upper_details {
  padding-top: 96px;
  display: flex;
  gap: 32px;
}

.footer_upper_tag {
  margin-top: 32px;
}

.footer_upper_tag p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
}

.footer_upper_contents {
  flex: 1;
}

.footer_upper_service-list {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer_upper_service-list .head {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #98a2b3;
}

.footer_upper_service-list a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
  margin-bottom: 12px;
}

.footer_upper_service-list a:hover {
  text-decoration: underline;
  scale: 1.02;
  transition: all 0.6s;
}

.footer_upper_service-list a span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #027a48;
  padding: 2px 8px;
  border-radius: 16px;
  background-color: #ecfdf3;
}

.footer_lower {
  margin: 48px 0;
}
.footer_lower_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_lower_text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text_color);
}

.footer_lower_social_icon img {
  padding-right: 24px;
}

.footer_lower_social_icon img:last-child {
  padding-right: 0;
}

.footer_lower_social_icon img:hover {
  color: var(--main_color);
  scale: 1.1;
  cursor: pointer;
}

/* footer end */

/* media query */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav_bar_links_btn,
  .log_sign_btn {
    display: none;
  }

  .toggle_btn i {
    display: block;
  }

  .toggle_btn {
    padding-right: 20px;
  }

  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;
    padding: 15px 25px;
  }

  .dropdown_product {
    display: block;
  }

  /* hero area */

  .hero_content {
    margin-top: 100px;
  }

  .hero_content h1 {
    font-size: 40px;
  }

  .hero_content p {
    font-size: 18px;
  }

  .macbook img {
    width: 100%;
  }

  .hero_company_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
    row-gap: 47px;
    margin-bottom: 50px;
  }

  /* feature area */

  .feature_area {
    padding-top: 50px;
  }

  .inboxes {
    flex-direction: column;
    row-gap: 45px;
    margin-left: 85px;
    margin-top: 40px;
  }

  .inbox_content {
    margin-top: 40px;
  }

  .inbox_pic img {
    width: 100%;
  }

  .deliver {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-left: 85px;
    margin-top: 40px;
  }

  .deliver_content {
    margin-top: 40px;
  }

  .deliver .deliver_content {
    padding-bottom: 45px;
  }

  .deliver .deliver_pic:nth-of-type(1) {
    order: 2;
  }

  .deliver_pic img {
    width: 121%;
  }

  .manage {
    flex-direction: column;
    row-gap: 45px;
    margin-top: 40px;
    margin-left: 85px;
  }

  .manage_content {
    margin-top: 40px;
  }

  .manage_pic img {
    width: 100%;
  }

  /* integration */

  .integration {
    margin-top: 60px;
  }

  .integration_title h1 {
    font-size: 40px;
  }

  .integration_content {
    font-size: 18px;
  }

  .integration_icons {
    margin-left: 30px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  /* Data */

  .data_tag {
    padding-top: 50px;
  }

  .show_data_btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .show_data_btn .get {
    margin: 0;
  }

  .container_box {
    padding: 64px 30px;
    margin-top: 60px;
  }

  .padding {
    padding-bottom: 60px;
  }

  /* Review */

  .review_title {
    margin-top: 60px;
  }

  .review_title h1 {
    font-size: 34px;
  }

  .review_logo {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-left: 30px;
  }

  /* Untitled area */

  .untitled_content h1 {
    font-size: 40px;
    margin-top: 40px;
  }

  .untitled_details {
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
  }

  .untitled_show_pic {
    margin-top: 25px;
  }

  .untitled_show_pic img {
    width: 100%;
    object-fit: cover;
  }

  /* footer */

  .footer_upper_details {
    flex-direction: column;
    margin-left: 30px;
  }

  .footer_upper_service-list {
    margin-top: 25px;
  }

  .footer_lower_flex {
    /* flex-direction: column; */
    padding: 0 30px;
  }

  .hero_content p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .header_area {
    height: 70px;
  }

  .dropdown_product {
    top: 70px;
  }

  .nav_bar_links_btn,
  .log_sign_btn {
    display: none;
  }

  .toggle_btn i {
    display: block;
  }

  .toggle_btn {
    padding-right: 20px;
  }

  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 38px;
    padding: 15px 25px;
  }

  .dropdown_product {
    display: block;
  }

  /* hero area */

  .hero_content {
    margin-top: 100px;
  }

  .hero_content h1 {
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }

  .hero_content p {
    font-size: 14px;
  }

  .hero_btn li {
    display: flex;
    padding-bottom: 15px;
    margin-left: 50px;
  }

  .macbook {
    top: 0;
  }

  .macbook img {
    width: 100%;
  }

  .hero_company_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 40px;
    row-gap: 47px;
    margin-bottom: 50px;
  }

  /* feature area */

  .feature_area {
    padding-top: 50px;
  }

  .feature_tag p {
    font-size: 14px;
  }

  .feature_title h1 {
    font-size: 32px;
  }

  .feature_content P {
    font-size: 14px;
  }

  .inboxes {
    flex-direction: column;
    row-gap: 45px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .inbox_content {
    margin-top: 40px;
  }

  .inbox_content p {
    font-size: 14px;
  }

  .in_list li {
    padding-left: 0;
  }

  .in_list span {
    font-size: 14px;
  }

  .inbox_pic img {
    width: 100%;
  }

  .deliver {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
  }

  .deliver_content {
    margin-top: 40px;
  }

  .deliver_content p {
    font-size: 14px;
  }

  .deliver .deliver_content {
    padding-bottom: 45px;
  }

  .deliver .deliver_pic:nth-of-type(1) {
    order: 2;
  }

  .deliver_pic img {
    width: 103%;
  }

  .manage {
    flex-direction: column;
    row-gap: 45px;
    margin-top: 40px;
    margin-left: 10px;
  }

  .manage_content {
    margin-top: 40px;
  }

  .manage_content p {
    font-size: 14px;
  }

  .manage_pic img {
    width: 100%;
  }

  /* integration */

  .integration {
    margin-top: 40px;
  }

  .integration_tag P {
    font-size: 14px;
  }

  .integration_title h1 {
    font-size: 32px;
  }

  .integration_content p {
    font-size: 14px;
  }

  .integration_icons {
    margin-left: 30px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* Data */

  .show_data {
    padding: 0 10px;
  }

  .data_tag {
    padding-top: 50px;
  }

  .show_data_title h1 {
    font-size: 32px;
  }

  .show_data_content P {
    font-size: 14px;
  }

  .show_data_num1 h1 {
    font-size: 45px;
  }

  .show_data_num {
    grid-template-columns: repeat(1, 1fr);
  }

  .show_data_btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .show_data_btn .get {
    margin: 0;
  }

  .container_box {
    flex-direction: column;
    gap: 30px;
    padding: 30px 15px;
  }

  .padding {
    padding-bottom: 60px;
  }

  /* Review */

  .review_title {
    margin-top: 40px;
  }

  .review_title h1 {
    font-size: 32px;
    margin: 0 7px;
  }

  .review_provide {
    border: 1px solid gray;
    padding: 9px;
    margin: 0 8px;
  }

  .review_logo {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  /* Untitled area */

  .untitled_area {
    /* margin-left: 10px; */
  }

  .untitled_content h1 {
    font-size: 32px;
    margin-top: 40px;
    line-height: 45px;
  }

  .untitled_lists {
    padding-left: 0;
  }

  .untitled_details {
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
    margin-left: 10px;
  }

  .un_list span {
    font-size: 14px;
  }

  .untitled_show_pic {
    margin-top: 25px;
  }

  .untitled_btn li {
    display: flex;
    padding-bottom: 15px;
  }

  .untitled_btn li:last-child {
    padding: 0;
  }

  .untitled_btn .get {
    margin-left: 0;
  }

  .untitled_show_pic img {
    width: 100%;
    object-fit: cover;
  }

  /* footer */

  footer {
    margin-top: 20px;
  }

  .footer_upper_details {
    padding-top: 30px;
    flex-direction: column;
    margin-left: 30px;
  }

  .footer_upper_service-list {
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .footer_lower_flex {
    flex-direction: column;
    padding: 0 30px;
    gap: 20px;
  }

  .hero_content p {
    font-size: 16px;
  }
}
